[project]
	description = LibreOffice dictionaries repository
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access]
	inheritFrom = Dev-ACL-Template
[access "refs/*"]
	read = group ReplicateFDO
	read = group ReplicateGithub
	read = group ReplicateGitorious
	read = group ReplicateLaunchpad
[allowSuperproject "core"]
	matching = refs/heads/feature/gsoc-calc-enhanced-db-range:refs/heads/feature/gsoc-calc-enhanced-db-range
